/*

Theme Name: Spicy Brocoli Base Theme

Theme URI: http://spicybroccoli.com

Description: Spicy Broccoli template for WordPress sites. Good for you company's health!

Author: Spicy Broccoli Media

Author URI: http://spicybroccoli.com/

Version: 1.1

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */

@charset "utf-8";

/* CSS Document */



@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/*FORM RESET*/

textarea, select,  input[type="date"], input[type="datetime"],  input[type="datetime-local"], input[type="email"],  input[type="month"], input[type="number"],  input[type="password"], input[type="search"],  input[type="tel"], input[type="text"],  input[type="time"], input[type="url"], input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: #fff;
	border: 0;
	color: #000;
	outline: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 1em;
	height: 1em;
	vertical-align: middle;
} /* END FORM RESET*/
body {
	/* MAKE EM DEFAULT 10PX IT MEANS (1.4 EM IS 14PX, 2.5EM IS 25PX) */	

/* Logic: OBJECT / CONTEXT = RESULT */

	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	margin: 0;
	background: #fff;
}
.condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}
.not-condensed {
	font-family: 'Open Sans', sans-serif !important;
}
p {
	display: block;
	margin: 0;
}
a {
	text-decoration: none;
}
ul, ol, li {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
h1,  h2,  h3,  h4,  h5,  h6,  .h1,  .h2,  .h3,  .h4,  .h5,  .h6 {
	/*font-family: inherit;*/

	font-family: 'Open Sans Condensed', sans-serif;
	color: inherit;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.container {
	margin: 0 auto;
	padding: 0 2em;
	overflow: auto;
}
/* MAKE EVERITHING BOXSIZING BORDERBOX*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row {
	margin-right: -2em;
	margin-left: -2em;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
/* DEFINE COLLUMN */

.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12,  .col-five-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,  .col-five, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	position: relative;
	min-height: 1px;
	padding-right: 2em;
	padding-left: 2em;
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-five-sm {
	width: 20%;
}
.col-off-pad {
	padding: 0 !important;
}
.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12 {
	width: 100%;
}

@media (min-width: 480px) {
.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12 {
	width: 100%;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
.col-five-md {
	width: 20%;
}
.hide-md {
	display: none;
}
}

@media (min-width: 768px) {
.col-size-12 {
	width: 100%;
}
.col-size-11 {
	width: 91.66666667%;
}
.col-size-10 {
	width: 83.33333333%;
}
.col-size-9 {
	width: 75%;
}
.col-size-8 {
	width: 66.66666667%;
}
.col-size-7 {
	width: 58.33333333%;
}
.col-size-6 {
	width: 50%;
}
.col-size-5 {
	width: 41.66666667%;
}
.col-size-4 {
	width: 33.33333333%;
}
.col-size-3 {
	width: 25%;
}
.col-size-2 {
	width: 16.66666667%;
}
.col-size-1 {
	width: 8.33333333%;
}
.col-five {
	width: 20%;
}
}

@media (max-width: 480px) {
.hidden-sm {
	display: none !important;
}
}

@media (min-width: 481px) and (max-width: 767px) {
.hidden-md {
	display: none !important;
}
}

@media (min-width: 768px) {
.hidden-size {
	display: none !important;
}
}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {
.container {
	width: 100%;
}
}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {
.container {
	width: 1000px;
}
.hidden-large {
	display: none !important;
}
}
/* HEADER SECTION */

#header {
	background-color: #FFFFFF;
	padding: 1.2em 0;
	height: 6.4em;
}
#header .container {
	overflow: inherit;
}
#header form.search-form {
	margin-top: .5em;
}
form.search-form input {
	background: rgba(0, 99, 137, 0.1);
}
.header-menu {
	margin-top: 0.8em; /* + 1.2em*/
}
.header-menu ul {
	float: right;
}
.header-menu li {
	float: left;
	padding: 0 1.1em;
 t
}
 .header-menu li:fist-child {
 padding-left: 0;
}
.header-menu li:last-child {
	padding-right: 0;
}
.header-menu li a {
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
	color: #0a568a;
}
.header-menu li.current-menu-item a {
	color: #00a3e0;
}
.header-menu li a:hover {
	color: #00a3e0;
}
/* END HEADER SECTION */

/* SLIDER SECTION */

#slider {
	overflow: hidden;
}
/* END SLIDER SECTION */

/* TRANSFORM YOURSEL */

#transform-yourself {
	background-color: #ffffff;
	padding: 4em 0;
}
#transform-yourself h2 {
	font-size: 3em;
	font-weight: lighter;
	text-align: center;
}
#transform-yourself .btn-wide, #transform-yourself .btn-wide a {
	color: #ffffff;
}
#transform-yourself .buttons {
	margin-top: 4em;
}
.btn-wide.life {
	background-color: #8cc6ec;
}
.btn-wide.wealth {
	background-color: #13a89e;
}
.btn-wide.relationships {
	background-color: #faaf40;
}
.life.arrow-top:after {
	border-bottom-color: #8cc6ec;
}
.wealth.arrow-top:after {
	border-bottom-color: #13a89e;
}
.relationships.arrow-top:after {
	border-bottom-color: #faaf40;
}
/* END TRANSFORM YOURSEL */

/* GET INTOUCH */

#get-in-touch {
	background: url(images/get-in-touch.jpg) center center #65C0E5 no-repeat; 
 background-size:cover;
	padding: 4em 0;
}
#get-in-touch form input[type='text'], #get-in-touch form input[type='email'], #get-in-touch form textarea {
	background: rgba(255, 255, 255, 0.7);
	margin-bottom: 1em;
	padding: 0.5em 0.5em;
	min-height:43px;
}
#get-in-touch form textarea {
	height: 8.7em;
	padding: 1em 0.5em;
}
#get-in-touch .btn-wide {
	font-size: 1.4em;
	padding: .9em 0;
	cursor: pointer;
	border: 0;
	background: #1aa2d9;
	color: #ffffff;
}
#get-in-touch a {
	color: #ffffff;
}
#get-in-touch p {
	font-size: 1.6em;
	color: #ffffff;
	margin-bottom: 1.25em; /*20px*/
}
#get-in-touch span.condensed {
	font-weight: bold;
	text-transform: uppercase;
}
#get-in-touch h3 {
	font-size: 2.4em;
	color: #FFFFFF;
	margin-bottom: 1.25em;
}
/* END GET INTOUCH */

/* FOOTER LINKS */

#footer-links {
	background-color: #b3b3b3;
	padding: 4em 0;
}
#footer-links h4 {
	font-size: 1.6em;
	margin-bottom: 0.94em; /* ~15px */
}
#footer-links ul li a {
	display: block;
	font-size: 1.4em;
}
#footer-links, #footer-links a {
	color: #FFFFFF;
}
/* END FOOTER LINKS */

/* COPYRIGHT */

#copyright {
	background-color: #0099d7;
	color: #ffffff;
	padding: 2.5em 0;
}
#copyright .copy, #copyright .sbm {
	font-size: 1.4em;
}
#copyright .sbm {
	text-align: right;
}
#copyright .sbm a {
	color: #003e57;
}
#copyright .copy a {
	color: #ffffff;
}
/* END COPYRIGHT */

/* BUTTONS */

.arrow-top:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -21px;
	width: 0;
	height: 0;
	border-bottom: solid 21px #036;
	border-left: solid 21px transparent;
	border-right: solid 21px transparent;
}
.btn-wide {
	display: block;
	width: 100%;
	padding: 0.5em;
	text-align: center;
	font-size: 2.7em;
	text-transform: uppercase;
	font-weight: bold;
}
/* END BUTTONS */

/* FORM FIELDS */

input[type="reset"],  input[type="button"],  input[type="search"],  input[type="email"],  input[type="search"],  input[type="text"],  textarea {
	width: 100%;
	font-size: 1.4em;
	padding: 1em;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
 color: #333333;
}
/* END FORM FIELDS */

/* HOME TILES */

/* ##### DEFAULTS ##### */

#tiles {
	min-height: 80em;
	background-color: #e1e1e1;
	padding-top: 2em;
	overflow: hidden;
}
.container-tiles {
	width: 1093px;
	/*padding: 2.5em 2.5em 4em 2.5em; /*1.1em;*/

	margin: 0 auto;
	position: relative;
}
.container-tiles, .tile {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.container-tiles-row {
	margin-left: -2.5em;
	margin-right: -2.5em;
}
.container-tiles-row ul {
	margin: 2.5em;
}
.tile {
	float: left;
}
.tile .tile-wrap {
	width: 36.4em;
	padding: 0 1.05em;
	overflow: hidden;
}
.tile.tile-small .tile-wrap, .tile.tile-large .tile-wrap {
	padding-bottom: 2.6em;
}
.tile .tile-img {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.tile .tile-img img {
	width: 100%;
	height: auto;
	position: absolute;/* CROP AND CENTER 

	left: 50%;

  	top: 50%;

	-webkit-transform: translate(-50%,-50%);

      -ms-transform: translate(-50%,-50%);

          transform: translate(-50%,-50%);*/

}
.tile .tile-content {
	position: relative;
	border: solid .2em #0e76bc;
	background: #fff;
	padding: 1em;
}
.tile .tile-content h3 {
	font-size: 2.1em;
	margin-bottom: .47em; /*10 px*/
}
.tile .tile-content p {
	font-size: 1.1em;
	overflow: hidden;
}
.tile .tile-content:after,  .tile .tile-content:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 1;
}
.tile .tile-content:before {
	z-index: 2;
}
.tile .tile-content a.tile-more-i {
	float: right;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: .4em;
}
.tile .tile-content-bottom {
	margin-top: 1em;
}
/* ##### END DEFAULTS ##### */

/* ##### TILES COLOR ##### */

/* DEFAULT */  

.tile .tile-content h3,  .tile .tile-content-bottom a {
	color: #0f76bc;
}
.tile .tile-content,  .tile .tile-content:after,  .tile .tile-content:before {
	border-color: #0f76bc;
}
/* Excellence Now */  

.tile.excellence-now .tile-content h3,  .tile.excellence-now .tile-content-bottom a {
	color: #0f76bc;
}
.tile.excellence-now .tile-content,  .tile.excellence-now .tile-content:after,  .tile.excellence-now .tile-content:before {
	border-color: #0f76bc;
}
/* Coach Now */  

.tile.coach-now .tile-content h3,  .tile.coach-now .tile-content-bottom a {
	color: #6d3a96;
}
.tile.coach-now .tile-content,  .tile.coach-now .tile-content:after,  .tile.coach-now .tile-content:before {
	border-color: #6d3a96 !important;
}
/* Influence Now */  

.tile.influence-now .tile-content h3,  .tile.influence-now .tile-content-bottom a {
	color: #faae40;
}
.tile.influence-now .tile-content,  .tile.influence-now .tile-content:after,  .tile.influence-now .tile-content:before {
	border-color: #faae40 !important;
}
/* Live It Now */  

.tile.live-it-now .tile-content h3,  .tile.live-it-now .tile-content-bottom a {
	color: #13a89e;
}
.tile.live-it-now .tile-content,  .tile.live-it-now .tile-content:after,  .tile.live-it-now .tile-content:before {
	border-color: #13a89e !important;
}
/* Your Future Now */  

.tile.your-future-now .tile-content h3,  .tile.your-future-now .tile-content-bottom a {
	color: #26a9e0;
}
.tile.your-future-now .tile-content,  .tile.your-future-now .tile-content:after,  .tile.your-future-now .tile-content:before {
	border-color: #26a9e0 !important;
}
/* Belief Buster */  

.tile.belief-buster .tile-content h3,  .tile.belief-buster .tile-content-bottom a,  .tile.belief-buster .tile-content p,  #lead-magnet .belief-buster h1 {
	color: #FFFFFF;
}
#lead-magnet .belief-buster h2,  #lead-magnet .belief-buster h3 {
	color: #ee583d;
}
#lead-magnet .belief-buster .lead-content-button,  .tile.belief-buster .tile-content {
	border-color: #ee583d;
	background-color: #ee583d;
}
.tile.belief-buster .tile-img {
	border: .2em solid #ee583d;
}
.tile.belief-buster .tile-content:after,  .tile.belief-buster .tile-content:before {
	border-color: #ee583d !important;
}
.tile.belief-buster .tile-content:before {
	display: none;
}
/* Relationship Now */  

.tile.relationship-now .tile-content h3,  .tile.relationship-now .tile-content-bottom a {
	color: #fcb040;
}
.tile.relationship-now .tile-content,  .tile.relationship-now .tile-content:after,  .tile.relationship-now .tile-content:before {
	border-color: #fcb040 !important;
}
/* CREATE YOUR FUTURE */  

.tile.create-your-future .tile-content,  .tile.create-your-future .tile-content h3,  .tile.create-your-future .tile-content a {
	color: #FFFFFF;
}
.tile.create-your-future .tile-content {
	border-color: #f8ac5e;
	background-color: #f8ac5e;
}
.tile.create-your-future .tile-img {
	border: .2em solid #f8ac5e;
}
.tile.create-your-future .tile-content:after,  .tile.create-your-future .tile-content:before {
	border-color: #f8ac5e !important;
}
.tile.create-your-future .tile-content:before {
	display: none;
}
/* Think Rich */  

.tile.think-rich .tile-content,  .tile.think-rich .tile-content a,  .tile.think-rich .tile-content h3,  #lead-magnet .think-rich h1 {
	color: #FFFFFF;
}
#lead-magnet .think-rich h2,  #lead-magnet .think-rich h3 {
	color: #13a89e;
}
#lead-magnet .think-rich .lead-content-button,  .tile.think-rich .tile-content {
	border-color: #13a89e;
	background-color: #13a89e;
}
.tile.think-rich .tile-img {
	border: .2em solid #13a89e;
}
.tile.think-rich .tile-content:after,  .tile.think-rich .tile-content:before {
	border-color: #13a89e !important;
}
.tile.think-rich .tile-content:before {
	display: none;
}
/* TEstimonial home */  

.tile.testimonial .tile-content,  .tile.testimonial .tile-content a,  .tile.testimonial .tile-content h3 {
	color: #FFFFFF;
}
.tile.testimonial .tile-content h3 {
	margin-left: 2.5em;
	word-wrap: break-word;
	min-height: 2.6em;
	max-height: 2.6em;
	overflow: hidden;
}
.tile.testimonial .tile-content {
	background: url(images/tiles/bg-testimonial.png) 1em 1.5em no-repeat #ee583d;
	border-color: #ee583d;
}
.tile.testimonial .tile-img {
	border: .2em solid #ee583d;
}
.tile.testimonial .tile-content:after,  .tile.testimonial .tile-content:before {
	border-color: #ee583d !important;
}
.tile.testimonial .tile-content:before {
	display: none;
}
.tile.testimonial .tile-content p {
	max-height: 6.6em;
}
/* TEstimonial Side Bar */  

ul#sidebar-tiles .testimonial .tile-content,  ul#sidebar-tiles .testimonial .tile-content a,  ul#sidebar-tiles .testimonial .tile-content h3 {
	color: #2d2d2d;
}
ul#sidebar-tiles .testimonial .tile-content h3 {
	font-size: 1.4em;
	margin-left: 5.5em;
	word-wrap: break-word;
	overflow: hidden;
	min-height: 4.5em;
	text-transform: none;
}
ul#sidebar-tiles .testimonial .tile-content p {
	max-height: none;
}
ul#sidebar-tiles .testimonial .tile-content span {
	float: left;
	margin-top: 1.6em;
	font-size: 2.2em;
	color: #26a9e0;
	font-weight: bold;
}
ul#sidebar-tiles .testimonial .tile-content {
	background: url(images/tiles/bg-testimonial-sidebar.png) 1em 1.5em no-repeat #f6f6f6;
	width: 100%;
	height: auto;
	border: 0;
}
ul#sidebar-tiles .testimonial .tile-content IMG {
	float: right;
	margin: .4em;
	max-width: 8.5em;
}
ul#sidebar-tiles .testimonial .tile-img {
	border: 0;
}
ul#sidebar-tiles .testimonial .tile-content:after,  ul#sidebar-tiles .testimonial .tile-content:before {
	display: none;
}
/* Troublemakers Now */

.tile.the-troublemakers .tile-content h3 {
	color: #FFFFFF;
}
.tile.the-troublemakers .tile-content {
	background: url(images/tiles/bg-the-troublemakers.png) right center no-repeat #7a49a1;
	border-color: #7a49a1;
}
.tile.the-troublemakers .tile-content-bottom {
	background: #6d3a96;
}
/* Join Us Now */

.tile.join-us .tile-content h3 {
	color: #FFFFFF;
}
.tile.join-us .tile-content {
	background: url(images/tiles/bg-join-us.png) 25em 2em no-repeat #fcb040;
	border-color: #fcb040;
}
.tile.join-us .tile-content p {
	padding-right: 8em;
}
.tile.join-us .tile-content-bottom {
	background: #eba237;
}
/* ##### END TILES COLOR ##### */

/* ##### SMALL ##### */

.tile.tile-small.no-logo .tile-content .tile-logo {
	display: none;
}
.tile.tile-small .tile-content .tile-logo {
	float: left;
}
.tile.tile-small.no-image .tile-img {
	display: none;
}
.tile.tile-small .tile-content:after,  .tile.tile-small .tile-content:before {
	margin-bottom: -2.1em;
	bottom: 50%;
	border-top: solid 2.1em transparent !important;
	border-bottom: solid 2.1em transparent !important;
}
.tile.tile-small.img-left .tile-content:after,  .tile.tile-small.img-left .tile-content:before {
	border-right: solid 2.1em #0e76bc;
	left: -2.1em;
}
.tile.tile-small.img-left .tile-content:before {
	border-right-color: #FFFFFF !important;
	left: -1.8em;
}
.tile.tile-small.img-right .tile-content:after,  .tile.tile-small.img-right .tile-content:before {
	border-left: solid 2.1em #0e76bc;
	right: -2.1em;
}
.tile.tile-small.img-right .tile-content:before {
	border-left-color: #FFFFFF !important;
	right: -1.8em;
}
.tile.tile-small .tile-content {
	width: 50%;
	height: 19.3em;
}
.tile.tile-small .tile-content p {
	max-height: 6.8em;
}
.tile.tile-small .tile-img {
	width: 50% !important;
	height: 19.3em;
}
.tile.tile-small.img-left .tile-img,  .tile.tile-small.img-left .tile-content {
	float: left;
}
.tile.tile-small.img-right .tile-img,  .tile.tile-small.img-right .tile-content {
	float: right;
}
/* ##### END SMALL ##### */

/* ##### SMALL NO IMAGE ##### */

.tile.tile-small.no-image .tile-content {
	width: 100%;
	color: #fff;
}
.tile.tile-small.no-image .tile-content p {
	min-height: 9.2em;
	max-height: 9.2em;
}
.tile.tile-small.no-image .tile-content-bottom {
	overflow: auto;
	margin: 0 -1em;
	text-align: center;
	padding: .9em 0;
}
.tile.tile-small.no-image .tile-content-bottom a {
	color: #FFF;
	font-size: 1.6em;
	text-transform: uppercase;
	font-weight: bold;
}
.tile.tile-small.no-image .tile-content-bottom a:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 1;
	right: 25%;
	margin-left: -6em;
	margin-top: .15em;
	border-left: solid .6em #fff;
	border-top: solid .6em transparent;
	border-bottom: solid .6em transparent;
}
/* ##### END SMALL NO IMAGE##### */

/* ##### LARGE ##### */

.tile.tile-large.no-logo .tile-content .tile-logo {
	display: none;
}
.tile.tile-large .tile-content {
	height: 15.2em;
}
.tile.tile-large .tile-content:after,  .tile.tile-large .tile-content:before {
	left: 50%;
	margin-left: -2.1em;
	border-bottom: solid 2.1em #0e76bc;
	border-left: solid 2.1em transparent !important;
	border-right: solid 2.1em transparent !important;
}
.tile.tile-large .tile-content:after {
	bottom: 100%;
}
.tile.tile-large .tile-content:before {
	border-bottom-color: #ffffff !important;
	top: -1.8em;
}
.tile.tile-large .tile-img {
	height: 26em;
}
.tile.tile-large img {
	margin-bottom: -.3em;
}
.tile.tile-large .tile-content p {
	min-height: 4.6em;
	max-height: 4.6em;
}
/* ##### END LARGE ##### */

ul#sidebar-tiles .tile-wrap {
	width: auto;
	padding: 0 0 2em 1em;
}
/* END HOME TILES */

/* MENU */

.menu-trigger {
	display: none !important;
}
.header-menu li ul {
	visibility: hidden;
	display: none;
	opacity: 0;
	-webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
	-moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
	transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
.header-menu ul.sub-menu {
	position: absolute;
	background-color: #fff;
	/*box-shadow: 1px 2px 1px rgba(0,0,0,0.3);*/
	margin-top: 3em;
	z-index: 999;
	top: 0em;
	padding: 1em 0;
	line-height: 3em;
min-width:150px;
margin-left: -10px;
}
.header-menu li:hover ul {
	opacity: 1;
	display: block;
	visibility: visible;
}
.header-menu ul.sub-menu li {
	float: none;
}
.mp-menu a {
	text-transform: uppercase;
}
/* END MENU */

/* SECTION PAGE */

#page-header {
	background-color: #8AB4C6;
}
#page-header IMG {
	width: 100%;
}
#page {
	margin-top: 3em;
	margin-bottom: 3em;
}
#page article h1, #page h1 {
	font-size: 2em;
	margin-bottom: 1.5em;
	font-weight: bold;
	color: #26a9e0;
}
#page article p {
	font-size: 1.4em;
	line-height: 1.7em;
	margin-bottom: 1.43em; /* 20px */
}
blockquote {
	font-style: italic;
}
/* END SECTION PAGE */

/* SECTION LEAD MAGNET */

#lead-magnet-menu {
	background: #ffffff;
	padding: 1.5em;
}
#lead-magnet article {
	padding-top: 5.5em;
	padding-bottom: 10em;
}
#lead-magnet article h1 {
	font-size: 6.3em;
	font-weight: 300;
	text-align: center;
	padding-bottom: 0.312em; /* 20px */
	color: #fff;
}
#lead-magnet .lead-content {
	background: #fff;
	padding: 2.5em;
}
#lead-magnet .lead-content.center {
	margin-left: -2em;
	margin-right: -2em;
}
#lead-magnet .lead-content h2 {
	font-size: 1.8em;
	margin-bottom: 1.56em;
	text-align: center;
}
#lead-magnet .lead-content h3 {
	font-size: 2.7em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
}
#lead-magnet .lead-content p {
	font-size: 1.3em;
	margin-bottom: 1.15em; /* 15px */
}
#lead-magnet .lead-content input {
	border: 1px solid #e4e4e4;
	margin-bottom: 1em;
}
#lead-magnet .lead-content-button {
	background-color: #f8ac5e;
	position: relative;
	text-align: center;
}
#lead-magnet .lead-content-button a {
	font-size: 2.3em;
	padding: 1.3em; /* 30 px */
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#lead-magnet .lead-content-button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -22px;
	width: 0;
	height: 0;
	border-top: solid 22px #fff;
	border-left: solid 22px transparent;
	border-right: solid 22px transparent;
}
/* END SECTION LEAD MAGNET */



/* SECTION OUR TESTIMONIALS */

#our-testimonials {
	padding: 5.5em 0;
	background: #fff;
}
#our-testimonials h5, #our-testimonials h1 {
	color: #26a9e0;
	font-size: 3em;
	margin-bottom: .5em;
	text-align: center;
}
#our-testimonials li {
	overflow: auto;
	margin-bottom: 3.5em;
}
#our-testimonials p, #page-testimonials p {
	text-align: center;
	font-size: 1.6em;
}
.our-testimonials-content {
	margin-top: 1.5em;
}
.our-testimonials-content .testimonial {
	background-color: #26a9e0;
	color: #fff;
	font-weight: 400;
	overflow: auto;
	padding: 2em 2em 2em 0;
}
.our-testimonials-content .testimonial p {
	text-align: left !important;
	margin-bottom: 1em;
}
.our-testimonials-content .testimonial strong {
	font-size: 1.4em;
	text-transform: uppercase;
}
.our-testimonials-content .testimonial:before {
	content: '';
	position: absolute;
	left: 0;
	top: 32px;
	margin-top: -11px;
	width: 0;
	height: 0;
	border-right: solid 22px #26a9e0;
	border-top: solid 11px transparent;
	border-bottom: solid 11px transparent;
}
.testimonial img {
	margin-bottom: 1em;
}
.testmonial-each {
}
section#page-testimonials {
	padding: 5em;
}
/* END SECTION OUR TESTIMONIALS */

/* live-it-now PAGE */

#page .live-it-now {
	margin-bottom: 3.5em;
	background-color: #fff;
}
#page .live-it-now-content {
	padding: 2em;
	border: .2em solid #26a9e0;
	border-top: 0px;
	margin-top: -0.3em;
}
#page .live-it-now-content p, .live-it-now-content span {
	font-size: 1.3em;
}
#page .live-it-now-content span {
	font-weight: bold;
	margin-bottom: 1em;
	display: block;
}
/* END live-it-now PAGE */

/* COURSE */

article#course, #course-video {
	background: #f9f9f8;
	padding-bottom: 6em;
}
article#course p {
	font-size: 1.4em;
	margin-bottom: 1.5em;
	line-height: 1.8em;
}
.aq-block:first-child {
	padding: 0 16em;
}
.aq-block ul {
	font-size: 1.4em;
	list-style: initial;
	margin-left: 2em;
}
.aq-block ul li {
	margin-bottom: 1em;
}
#course-header header, .course-video-header {
	padding: 6em 16em;
	text-align: center;
}
#course-content h3,  #course-content h4,  #course-header h1,  #course-header h2,  .course-video-header h2 {
	font-size: 3em;
	color: #26a9e0;
	margin-bottom: 1em; /*30 px*/
	text-align: center;
}
#course-content {
	margin-top: 4em;
}
#course-content .aq-block {
	margin-bottom: 4em;
}
#course-header h2 {
	font-style: italic;
	font-size: 2em;
	margin-top: -1.5em;
}
#course-reasons {
	background-image: url(images/imgs/img_bg_course.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #26a9e0;
	padding: 5em 0;
}
#course-reasons ul {
	padding: 0 12.8em;
}
#course-reasons h2 {
	font-size: 3.4em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 0 3.52em;
	padding-bottom: 1.3em;
}
#course-reasons ul li {
	font-size: 1.4em;
	position: relative;
	background: #fff;
	padding: 1.38em;
	margin-bottom: 1.38em;
	/*text-transform: uppercase;*/

	padding-top: 1.8em;
}
#course-reasons ul li:before {
	content: '';
	width: 3em;
	height: 2.7em;
	background-image: url(images/imgs/bg_checkbox.png);
	background-repeat: no-repeat;
	background-color: #26a9e0;
	display: block;
	float: left;
	margin-right: 1.5em;
	margin-top: -.5em;
}
#course-reasons ul li:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	z-index: 1;
	left: 4.2em;
	margin-left: .55em;
	border-left: solid .55em #26a9e0;
	border-top: solid .55em transparent;
	border-bottom: solid .55em transparent;
	float: left;
	top: 2em;
}
/* END COURSE */

/* SEARCH */

ul#search-list li {
	background-color: #f9f9f9;
	padding: 2em;
	margin-bottom: 2em;
}
ul#search-list li:hover {
	color: #0a568a;
	background-color: #e9e9e9;
}
ul#search-list li a {
	color: #26a9e0;
	display: block;
	font-weight: bold;
}
ul#search-list li a:hover {
	color: #0a568a;
}
ul#search-list li p {
	margin: 0;
	margin-top: 1em;
}
ul#search-list li p a {
	margin-top: 1em;
	text-align: right;
}
/* END SEARCH */

a.btn-book-now {
	font-size: 2.4em;
	background-color: #26a9e0;
	position: relative;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: .5em;
	display: block;
	width: 280px;
	text-align: center;
	margin: 0 auto;
	margin-top: 2em;
}
a.btn-book-now:hover {
	background-color: #0a568a;
}
a.btn-book-now:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 1;
	right: 13%;
	margin-left: -5em;
	margin-top: .22em;
	border-left: solid .5em #fff;
	border-top: solid .5em transparent;
	border-bottom: solid .5em transparent;
}
#course-reasons a.btn-book-now {
	background-color: #fcb040;
	margin-top: 2.5em;
}
#course-reasons a.btn-book-now:hover {
	background-color: #E8961D;
}
.blog a, .single-post a,  .category a {
	color: #26A9E0;
}
.blog p, .single-post p,  .category p {
	margin-bottom: 12px;
}
.page-id-2 td,.page-id-2 td img {
text-align:top;
vertical-align:top;
    font-size: 1.4em;
    line-height: 1.7em;
    padding-bottom: 1.63em;
}

.page-id-2 td img {
    margin-right: 10px;
    width: 100%;
    height: auto;
    min-width: 150px;
border: 0.2em solid #0E76BC;
padding-bottom:0;
}

.page-id-2 td:first-child + td {
    padding-left: 15px;  
}

/* CF7 Messages */
.wpcf7 .wpcf7-validation-errors{
    border:none;
    background-color:#f4ae46;
    margin:0;
    padding:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
clear:both
}

.wpcf7 .wpcf7-mail-sent-ok{
    border:none;
    background-color:#7ad33f;
    margin:0;
    padding:20px;
    
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
clear:both
}

.wpcf7 .wpcf7-mail-sent-ng{
    border:none;
    background-color:#cf2d38;
    margin:0;
    padding:20px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
    color: white;
}

.wpcf7 span.wpcf7-not-valid-tip{
    border:none;
    background-color:#cf2d38;
    padding:5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius:6px;
    width: 180px;
    color: white;
position:relative;
top:-15px;
display:inline;
    
    /* Drop shadow */
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.wpcf7-form .fleft{
  float: left;
}

.wpcf7-form .mright20{
  margin-right: 20px;
}

.wpcf7-form .mright40{
  margin-right: 40px;
}

.wpcf7-form .clear{
  clear: both;
}
