 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1110px) {
		.container-tiles {
			padding: 0;	
			width: 730px;
		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		#header .header-menu {
			display: none;	
		}
		.menu-trigger {
			position: absolute !important;
			right: 0em !important;
			display: block !important;
		}
		.logo.col-size-2 {
		  width: 34%;
		}
		.search.col-size-2 {
		  width: 40%;
		}
    }
	@media only screen and (max-width : 820px) {

	}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		
		#footer-links ul {display: none; }
		#footer-links ul {display: none; margin-bottom: 1.5em; }
		#copyright .copy, #copyright .sbm {
		text-align:center;
		}
		#copyright .sbm {
			margin-top: 1.5em;
		}
		#get-in-touch {
			background-image: none;
		}
		
		#lead-magnet .lead-content.center {
			margin: 0;
			margin-bottom: 1.5em;
		}
		#lead-magnet article {
		  padding: 2em 0;
		}
		iframe { height: auto !important; }
		
	}
	
	@media only screen and (max-width : 760px) {
		.container-tiles {
			  /* padding: 0; */
			  width: 36.5em;
			}
	}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		.container-tiles, .tile .tile-wrap {
			  width: 100%;
			}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }